.algorithm-player {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
