.interface-list {
    width: 100%;

    &__item {
        &--settings {
            display: flex;
            flex-direction: column;
        }

        &--moves {
            cursor: pointer;
        }
    }
}

.interface-category {
    width: 100%;

    &__summary {
        height: 48px;
        min-height: unset !important;
    }

    &__details {
        padding: 5px !important;
    }
}
