.algorithm-player {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.notation-error {
    display: initial !important;
    position: absolute !important;
    top: 22px;
    pointer-events: none;
    white-space: pre-wrap;

    &__text {
        visibility: hidden;
    }

    &__letter {
        color: #f44336;
        text-decoration: underline #f44336;
    }

    &__chips {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__chip {
        margin-right: 2px;
    }
}
