.arrow {
    stroke: #383838;
    stroke-width: 4px;
    stroke-linecap: round;
    transition: opacity 400ms;
}

.face-arrow {
    transform: translateY(50%) scale(0.4) translateY(-50%) rotate(180deg);
    opacity: 0;

    &-wrapper {
        pointer-events: all;
        cursor: pointer;

        &__box {
            fill: transparent;
            stroke: transparent;
            width: 100%;
            height: 100%;
            transform: translateX(-50%) scale(0.4) translateY(-50%);
            transform-origin: center;
        }

        &:hover .arrow {
            opacity: 1;
        }
    }
}

.cube-arrow {
    opacity: 0.2;
}

.cube-arrows-svg {
    &:hover .arrow {
        opacity: 1;
    }

    &__wrapper {
        display: contents;
    }
}

.rubiks-cube--is-transitioning {
    .face-arrows-svg,
    .cube-arrows-svg {
        display: none;
    }
}
