$size: 200px;

.cube-scene {
  width: $size;
  height: $size;
  margin: 80px;
  perspective: 400px;
}

.cube {
  width: $size;
  height: $size;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);

  &__face {
    position: absolute;
    width: $size / 3;
    height: $size / 3;
    border: {
      style: solid;
      width: 1px;
      color: black;
    }
  }
}

:export {
  size: $size;
  tileSize: $size / 3;
}