@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    }
}

:root {
    --color-red: #dc422f;
    --color-white: #ffffff;
    --color-dark-gray: #333333;
    --color-light-gray: #7a7a7a;
    --color-blue: #3d81f6;

    --color-text: var(--color-dark-gray);
    --color-text-inverted: var(--color-white);
    --color-text-highlighted: var(--color-blue);
    --color-text-error: var(--color-red);
    --color-text-disabled: var(--color-light-gray);
}

html,
body,
#root {
    @apply size-full min-w-80;
}
